html {
  scroll-behavior: smooth;
}

a.footer-link {
  color: #fff !important;
  text-decoration: underline !important;
  cursor: pointer;
  margin-left: 12px;
}

a.footer-link:hover {
  color: #ffbc0a !important;
}

.services-subheader {
  padding-top: 30px;
}